/* your code here */
.media-icons{
	display:flex;
}
img{
	width:40px;
	height:40px;
}
.content{
	background-color:black;
	color:white;
}
.highlight{
	text-decoration:underline;
	display:inline-block;
	
}
